@{
    ViewData["Title"] = "Event Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EventManager.Models.Venue

    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <hr />

    <h3>Events at this venue:</h3>
    @foreach (var listEvent in Model.Events)
    {
        <li>@Html.ActionLink(listEvent.Title, "Details", "Events", new { id = listEvent.EventId })</li>
    }

    <p>@Html.ActionLink("Edit", "Edit", new { id = Model.VenueId }) | @Html.ActionLink("Back to List", "Index")</p>
