<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>@ViewBag.Title</title>
</head>

<p>@Html.ActionLink("Events", "Index", "Events")</p>
<p>@Html.ActionLink("Venues", "Index", "Venues")</p>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>