

select {
    float: none;
    display: block;
}

.navbar .btn {
    margin-top: 5px;
}

.username-header {
    padding-top: 12px;
    margin-right: 5px;
}

.event {
    border: 1px solid #eee;
    padding: 15px;
    height: 385px;
    margin-bottom: 20px;
}

.event h3 {
    margin-top: 0px;
}

#venue-list ul, #event-list ul{
    padding-left: 0px;
    display:table;
    margin: 20px 0px;
    width: 100%;
}


#venue-list li, #event-list li {
    list-style-type: none;
}

.display-all-events, .display-all-venues {
    height: 80px;
}

.display-all-events button {
    display: none;
}

.display-all-venues button {
    display: none;
}

.alert-success {
    display: none;
}