

select {
    float: none;
    display: block;
}

h1, h2, h3, h4 , h5 {
    font-family: 'Francois One', sans-serif;
}

.navbar {
    background-color: #1f1f1f;
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
}

.navbar-brand {
    font-family: 'Jockey One', sans-serif;
    font-size: 1.5em;
}

.navbar .btn {
    background-color: #3752A6;
    border: 1px solid #3752A6;
    margin-left: 5px;
}

.navbar-default .navbar-nav>li>a{
    color: #BBD1C8;
}

.navbar-default .navbar-nav>li:hover {
    background-color: #D7C151;
}

.navbar-default .navbar-nav>li:hover a{
    color: #0E242E;
}

.navbar .btn {
    margin-top: 5px;
}

.username-header {
    padding-top: 12px;
    margin-right: 5px;
}

.event {
    border: 1px solid #eee;
    padding: 15px;
    height: 385px;
    margin-bottom: 20px;
}

.event h3 {
    margin-top: 0px;
}

#venue-list ul, #event-list ul{
    padding-left: 0px;
    display:table;
    margin: 20px 0px;
    width: 100%;
}


#venue-list li, #event-list li {
    list-style-type: none;
}

.display-all-events, .display-all-venues {
    height: 80px;
}

.display-all-events button {
    display: none;
}

.display-all-venues button {
    display: none;
}

.alert-success {
    display: none;
}

.rsvp-icons .icon {
    width: 50px;
    height: 50px;
    float: left;
    list-style-type: none;
    margin-right: 5px;
}

.rsvp-icons .full-width {
    width: 100%;
    height: 30px;
    float: none;
    list-style-type: none;
    display: table;
}

.rsvp-icons {
    padding-left: 0px;
    display: table;
}

.rsvp-icons .your-icon {
    border: 2px solid blue;
}

#eventCarousel {
    max-height: 400px;
    background-color: #2d2d2d;
}

#eventCarousel img {
    height: 400px;
    margin: 0px auto;
    opacity: 0.7;
}

form .btn {
    margin-top: 15px;
}